-
  const descriptionSmallImg = {
    path: "img/banner_mobile.png",
    width: "216",
    height: "216",
    alt: "Баннер"
  };
  const descriptionBigImg = {
    path: "img/banner_desktop.png",
    width: "471",
    height: "470",
    alt: "Баннер"
  };
  const descriptionTitle = "Сервис заработка и раскрутки в интернете";
  const descriptionText = "Получай реальную целевую аудиторию без ботов, банов, ввода пароля и без сомнительных конкурсов";
  const descriptionBtnText = "Попробовать сейчас";
  
  class StatsItem {
    constructor(number, unit) {
      this.number = number;
      this.unit = unit;
    }
  }
  
  const descriptionStats = [];
  descriptionStats.push(new StatsItem("1M+", "Выполнених заданий"));
  descriptionStats.push(new StatsItem("2K+", "Доступно заданий"));
  descriptionStats.push(new StatsItem("100K+", "Зарегистрировано исполнителей"));


mixin description()
  article.description
    .description__banner.description__banner_small
      img(src=descriptionSmallImg.path width=descriptionSmallImg.width height=descriptionSmallImg.height alt=descriptionSmallImg.alt)
    .description__banner.description__banner_big.visually-hidden
      img(src=descriptionBigImg.path width=descriptionBigImg.width height=descriptionBigImg.height alt=descriptionBigImg.alt)
    section.description__main-point
      h1.description__title= descriptionTitle
      p.description__text= descriptionText
    button.description__cta-btn= descriptionBtnText
    .description__stats
      ul.description__stats-list
        each item in descriptionStats 
          li.description__stats-item
            span.description__stats-item-number= item.number
            span.description__stats-item-unit= item.unit