-
  const img = {
    path: "img/banner_mobile.png",
    width: "216",
    height: "216",
    alt: "Баннер"
  };
  const title = "Сервис заработка и раскрутки в интернете";
  const text = "Получай реальную целевую аудиторию без ботов, банов, ввода пароля и без сомнительных конкурсов";
  const btnText = "Попробовать сейчас";
  
  class statsItem {
    constructor(number, unit) {
      this.number = number;
      this.unit = unit;
    }
  }
  
  const stats = [];
  stats.push(new statsItem("1M+", "Выполненных заданий"));
  stats.push(new statsItem("2K+", "Доступно заданий"));
  stats.push(new statsItem("100K+", "Зарегистрировано исполнителей"));


mixin description()
  img.description__banner(src=img.path width=img.width height=img.height alt=img.alt)
  section.description__main-point
    h1= title
    p= text
  button.description__cta-btn= btnText
  .description__stats
    ul
      each item in stats 
        li
          span.description__stats-item-number= item.number
          span.description__stats-item-unit= item.unit